@model IEnumerable<Biluthyrning.Models.Car>
<script src="https://kit.fontawesome.com/8ff6b8bfa7.js" crossorigin="anonymous"></script>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 text-black">Redigera Bilar</h1>
    </div>
<p class="text-center">
    <a asp-action="Create" button class="btn btn-primary" type="submit" value="Create">Lägg till ny bil</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Gear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId"><i class="fa-solid fa-pen-to-square" style="color: #000066;"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.CarId"><i class="fa-solid fa-circle-info" style="color: #000066;"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId"><i class="fa-solid fa-trash" style="color: #000066;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
