@model IEnumerable<Biluthyrning.ViewModels.DetailsUserViewModel>
<script src="https://kit.fontawesome.com/8ff6b8bfa7.js" crossorigin="anonymous"></script>

@{
    ViewData["Title"] = "Details";
}


<h1>Mina bokningar</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Car.CarId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.Brand)
                </th>    
                <th>
                    @Html.DisplayNameFor(model => model.Car.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.Gear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.FuelType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.Size)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.CarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Gear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.FuelType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Car.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Booking.End)
                    </td>
                    <td>


                        <a asp-controller="Bookings" asp-action="Delete" asp-route-id="@item.Booking.Id"><i class="fa-solid fa-trash" style="color: #000066;"></i></a>
                    </td>
                </tr>
            }
</div>
    </tbody>
</table>
