@model List<Biluthyrning.ViewModels.AvailableCarsViewModel>

@{
    ViewData["Title"] = "Available Cars";
}

<h1>Available Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Car.CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Car.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Car.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Car.Gear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Car.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Gear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Price)
                </td>
@*                <td>
                    <a asp-action="Edit" asp-route-id="@item.Booking.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Booking.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Booking.Id">Delete</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
