@model List<Biluthyrning.ViewModels.AvailableCarsViewModel>

@{
	ViewData["Title"] = "Available Cars";
}


<div class="text-center">
	<h1 class="display-4 text-black">Tillgänliga bilar</h1>
</div>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.CarId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Brand)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Color)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Gear)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.FuelType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Size)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Car.Price)
			</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		@if (Model.Count != 0)
		{


			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Car.CarId)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Brand)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Color)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Gear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.FuelType)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Size)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Car.Price)
					</td>
					<td>
						<a asp-action="Create" asp-route-id="@item.Car.CarId" button class="btn btn-primary" type="submit" value="Create">Boka</a>
					</td>
				</tr>
			}
		}
		else
		{
			<p>
				Tyvärr finns inga bilar med dina önskemål inom ditt datumspann.
			</p>
		}

		</div>
		@section Scripts {
			@{
				await Html.RenderPartialAsync("_ValidationScriptsPartial");
			}
		}
	</tbody>
</table>

